@import 'mainSass';


.movieContainer {
  width: 100%;
  min-height: 500px;
  background-color: whitesmoke;
    .movieListTest {
        width: 22%;
        min-height: 500px;
        float: left;
        background-color: #333;
        .movie{
            min-width: 90% !important;
            max-width: 90% !important;
            background-color: white;
            .icon{
                left: -7px;
            }
            button:hover{
                .icon{
                    display: block !important;
                    left: 20px;
                }
            }
        }
    }
    .movieInfo {
      width: 78%;
      min-height:500px;
      display: block;
      float: right;
        h1{
            text-align: center;
        }
    }
}

.demo-blog--blogpost .meta + .mdl-card__supporting-text p.validation {
    margin-top: 16px;
    margin-bottom: 0px;
    padding: 2px 10px;
}